.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  margin: 5px;
  background-color: rgb(189, 212, 219);
  padding: 2px;
  border-radius: 5px;
}

.card-title {
  padding: 0;
  margin: 2px 0 2px 0;
}

.items {
  margin: 0;
  padding: 0;
}

.item {
  margin: 1px;
  padding: 2px;
  list-style-type: none;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.item:hover {
  background-color: rgb(250, 246, 246);
}

.completed-item {
  background-color: rgb(220, 235, 207);
}

.selected-item {
  padding: 0px;
  margin: 0;
  border: solid 3px gold;
}

.item-num {
  padding-inline: 4px;
  font-style: italic;
  color:rgb(145, 143, 143)
}
