<div *ngIf="selectedItem.id != -1">
  <h2>Выбранная запись</h2>
  <div class="selected-card">
    <div>id: {{selectedItem.id}}</div>
    <div>title: {{selectedItem.title}}</div>
    <div>user: {{selectedItem.userId}}</div>
    <div>comleted: {{selectedItem.completed}}</div>
  </div>
</div>

<div class="cards">
  <div *ngFor="let user of users" class="card">
    <h3 class="card-title">{{user.name}}</h3>
    <div>
      <div
        *ngIf="getUsersItems(user.id).length == 0"
        class="item"
      >
        Записей нет
      </div>
      <ul class="items">
        <li
          *ngFor="let item of getUsersItems(user.id); index as i"
          (click)="selectedItem = item"
          [class.completed-item]="item.completed"
          [class.selected-item]="item.id == selectedItem.id"
          class="item"
        >
          <span class="item-num">{{i + 1}}</span>
          <app-item [item]="item"></app-item>
        </li>
      </ul>
    </div>
  </div>
</div>
