.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  margin: 5px;
  background-color: rgb(189, 212, 219);
  padding: 2px;
  border-radius: 5px;
}

.card-title {
  padding: 0;
  margin: 2px 0 2px 0;
}

.items {
}

.item {
  margin: 1px;
  padding: 0;
  list-style-type: none;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.item:hover {
  background-color: rgb(248, 248, 248);
}

.item-num {
  padding-inline: 4px;
  font-style: italic;
  color:rgb(145, 143, 143)
}
